## PATHS
BE_FOLDER=../../logic/2.source
DATA_FOLDER=./
PIPE_TO_UI_NAME = \\.\pipe\mypipe_to_ui
PIPE_TO_LOGIC_NAME = \\.\pipe\mypipe_from_logic
RAW_PATH=./data/data_raw/dot/test-raw-dot.raw
RAW_PATH_COORDINATE=D:\dimmer\ui\2.source\data\data_raw\dot\test-raw-dot.raw
#CONFIG_INI_FOLDER=D:\path_to\config_ini\folder

## SETTINGS
USE_SENSOR=0
FAST_FLOW_BACKBONE=wide_resnet50_2
DELTA_T_COORDINATE=abc
FPS_COORDINATE=4
MIN_FREQ_COORDINATE=50
MAX_FREQ_COORDINATE=100
FILTER_LENGTH_COORDINATE=6
DIFF_THRESH_US_COORDINATE=8000
MASK_HIS_CUT_FLAG=1
