__pycache__/
.ini
.env
.vscode
config.ini
delete_setting.ini
.venv/*
venv/*
app/tmp/*
app/config/*
db/*.db
temp/*
config/
data/
datasets/
detection_results/
histogram/
logs/
.idea
test-raw-dot.raw
build/
dist/
app/libs/kivy/*
build_executable.bat